@charset 'utf-8';
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 1000;
}

.page-top:hover {
  opacity: 1;
}

body {
  font-family: sans-serif;
  background: yellow;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: orange;
  text-align: center;
  height: 670px;
}

header h1 {
  color: #c65a00;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.125rem;
  margin: 0;
  padding-top: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  margin-top: 12%;
}

.section h2 {
  font-size: 2.5rem;
  color: #ff4d4d;
  border-bottom: 0.125rem solid #ff4d4d;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  margin: 0 auto;
}

.profile img {
  width: 20rem;
  border-radius: 0.625rem;
}

.profile-description {
  flex: 0.8;
  text-align: center;
}

.profile-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.skill-grid {
  display: flex;
  gap: 3.4rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.skill-card {
  background: #fff;
  padding: 1.8rem;
  border-radius: 12px;
  width: 25%;
  min-width: 260px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.skill-card h3 {
  margin-top: 0;
  color: #ff6a00;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card li {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.works {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.work {
  text-align: center;
}

.work img {
 width: 350px;
 height: 200px;
}

.Worksall {
  display: flex;
  justify-content: center;
}

.more {
  display: block;
  margin: 2rem auto 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 5%;
}

footer {
  text-align: center;
  padding-block: 2rem;
  font-size: 1rem;
  background-color: orange;
}

.main {
  background: yellow;
}