@charset 'utf-8';
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(135deg, #ff9800, #ffeb3b);
  color: #fff;
  padding: 10px 15px;
  border-radius: 999px;
  opacity: 0.85;
  z-index: 1000;
}

.page-top:hover {
  opacity: 1;
}

body {
  font-family: sans-serif;
  background: #ffeeb6; /* 背景を少し柔らかい黄色に */
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: linear-gradient(135deg, #ff9800, #ffeb3b); /* グラデーション */
  text-align: center;
  height: 670px;
}

header h1 {
  color: #ff6f09; /* 白文字で見やすく */
  margin: 0;
  text-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.125rem;
  margin: 0;
  padding-top: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  margin-top: 12%;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.section h2 {
  font-size: 2.5rem;
  color: #ff7043; /* 見出しをオレンジ系に */
  border-bottom: 0.125rem solid #ffca28; /* 明るい黄色のライン */
}

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  margin: 0 auto;
}

.profile img {
  width: 20rem;
  border-radius: 0.625rem;
}

.profile-description {
  flex: 0.8;
  text-align: center;
}

.profile-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.skill-grid {
  display: flex;
  gap: 3.4rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.skill-card {
  background: #ffffff; /* 柔らかいオレンジ背景 */
  padding: 1.5rem;
  border-radius: 12px;
  width: 25%;
  min-width: 260px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.skill-card h3 {
  margin-top: 0;
  color: #ff7043;
}

.skill-card ul {
  list-style: none;
  padding: 0;

}

.skill-card li {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.works {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.work {
  text-align: center;
}

.work img {
 width: 350px;
 height: 200px;
}

.Worksall {
  display: flex;
  justify-content: center;
}

.more {
  display: block;
  margin: 2rem auto 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 5%;
  background: linear-gradient(135deg, #ff9800, #ffeb3b); /* ボタンもグラデーション */
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.more:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  padding-block: 2rem;
  font-size: 1rem;
  background: linear-gradient(135deg, #ff9800, #ffeb3b); /* グラデーション */
}
